.app {
    text-align: center;
}

.app nav {
    padding: 8px;
    /* background-color: #282c34; */
    background-color: var(--dark-color);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32px, 120px)) minmax(40%, auto);
    gap: 16px;
}

.app nav a:hover,
.app nav a:focus,
.app nav a:visited {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.app nav a:active {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
