/* COMIC LIST */
.comic-list {
    height: 100vh;
    max-height: 100%;
    padding: 16px;
    width: 80%;
    margin: 0 auto;
}

.comic-list a {
    color: var(--text-color);
}

.comics-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: var(--spacing-md);
}

.comics-grid .card {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: 1fr;
}

.comics-grid .card button {
    vertical-align: bottom;
}

.comics-grid .box {
    border: 1px solid var(--border-color);
    padding: var(--spacing-xs);
}

.comics-ctrl {
    display: grid;
    gap: 16px;
    /* grid-template-columns: repeat(auto-fit, minmax(30px, 70px)); */
    grid-template-columns: repeat(2, 1fr) 100px 100px;
    grid-template-areas: "select ... btn1 btn2";
    justify-content: end;
    margin-bottom: var(--spacing-md);
}

.comics-ctrl div.box {
    grid-area: select;
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: minmax(40px, 75px) minmax(150px, 250px);
    height: 30px;
}

.comics-ctrl button[id="filter"] {
    grid-area: btn1;
}

.comics-ctrl button[id="create"] {
    grid-area: btn2;
}

a.no-color:hover,
a.no-color:focus,
a.no-color:active,
a.no-color:visited {
    color: var(--text-color);
}

/* COMIC */
#comic-page > .header,
#comic-page > .form {
    margin-bottom: var(--spacing-md);
}

#comic-page .content {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: 0.15fr auto;
    margin-bottom: var(--spacing-md);
}

#comic-page .content .cover {
    max-height: 600px;
}

#comic-page .no-cover {
    grid-column: 1 / span 2;
}

#comic-page .form {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: 1fr;
}

#comic-page .form .box {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: minmax(35px, 135px) auto;
}

#comic-page .form .box label {
    text-align: start;
    vertical-align: middle;
    margin: auto 0;
}

#comic-page .form .actions button {
    width: 100%;
}

/* NEW CHAPTER */
#comic-page .new_chapter {
    margin-bottom: var(--spacing-md);
}

#comic-page .new_chapter .header {
    margin-bottom: var(--spacing-md);
}

#comic-page .new_chapter .content {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#comic-page .new_chapter .content .actions {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: repeat(2, 1fr);
}

/* CHAPTERS */
#comic-page .chapters .header {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: 0.90fr 0.10fr;
    margin-bottom: var(--spacing-md);
}

#comic-page .chapters .grid {
    display: grid;
    gap: var(--spacing-md);
    /* grid-template-columns: repeat(auto-fit, minmax(275px, 300px)); */
    grid-template-columns: 1fr;
}

#comic-page .chapters .chapter {
    display: grid;
    gap: 8px;
    grid-template-columns: 2fr 2fr 1fr;
    padding: 8px;
    border: 1px solid var(--border-color);
}

#comic-page .chapters .chapter a {
    text-align: start;
    margin-left: 16px;
}

#comic-page .chapters .chapter span {
    text-align: end;
}

#comic-page .chapters .no-chapters,
#comic-page .chapters .no-chapters span {
    width: 100%;
}