:root {
    --primary-color: #61dafb;
    --secondary-color: #61dafb;

    --dark-color: #16151d;
    --light-color: #f1f1f1;

    --text-color: rgb(70, 70, 70);
    --border-color: #aaa;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
}

#root {
    height: 100vh;
    color: var(--text-color);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    background-color: var(--light-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 4px;
}

button:hover,
button:focus {
    background-color: #eee;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.page {
    padding: 16px;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.header {
    background-color: var(--text-color);
    color: #fff;
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-md);
}

.header h2 {
    margin: unset;
}
