.wrapper {
    display: grid;
    place-items: center;
    gap: 16px;
    height: 100vh;
    background-color: var(--primary-color);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    border: 1px solid var(--border-color);
    padding: 16px;
    background-color: #fff;
}

.text-center {
    text-align: center;
}